:root {
  /* color-scheme 'Jewelry' */
  --rose-gold: #bd8c7d;
  --soft-gold: #d1bfa7;
  --silver: #8e8e90;
  --onyx: #49494b;

  /* color-scheme 'Jungle Book' */
  --simpler-lime-green: #7dce94;
  --scuffed-dark-grey: #3d3d3f;
  --scuffed-dark-grey-a0-5: rgba(61,61,63,.5);
  --vanilla-grey: #f6f5f3;
  --white-ish: #f9f8fd;
}

/* Scrollbar overrides Chromium */
body::-webkit-scrollbar {
  width: 2px;
}

body::-webkit-scrollbar-track {
  background: var(--vanilla-grey);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--scuffed-dark-grey);
  border-radius: 20px;
  border: none;
}

/* Base CSS */

body {
  /* Scrollbar overrides for Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--scuffed-dark-grey) var(--vanilla-grey);
  /* background: var(--soft-gold); */
  background: var(--white-ish);
  font-family: 'Overpass', sans-serif;
}

.navbar{
  /* background: var(--onyx); */
  background: var(--scuffed-dark-grey);
}

.navbar-dark .navbar-brand, #contact-inner a {
  /* color: var(--soft-gold); */
  color: var(--simpler-lime-green);
  font-size:  1.5rem;
}

.navbar-dark .navbar-brand:hover, #contact-inner a:hover{
  /* color: var(--rose-gold); */
  color: var(--vanilla-grey);
}

#nav-links a, #main-nav > .navbar-nav > h5{
  /* color: var(--silver); */
  color: var(--vanilla-grey);
  font-weight: 200;
}

#nav-links a:hover, #main-nav > .navbar-nav > h5:hover {
  /* color: var(--soft-gold); */
  color: var(--simpler-lime-green);
  font-weight: 200;
}

#headings > h1 {
  font-family: 'Reenie Beanie', cursive;
  font-weight: 100;
  font-size: 10rem;
  /* color: var(--onyx); */
 color: var(--scuffed-dark-grey);
}

#about {
  color: var(--scuffed-dark-grey);
}

#contact {
  background-image: url("imgs/3-sitting-bear.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--vanilla-grey);
}

#contact-inner {
    background-color: var(--scuffed-dark-grey-a0-5);
}

/* additional classes to be added with JS events */
.navbar.scrolled {
  background-color: var(--scuffed-dark-grey-a0-5);
  transition: background 400ms;
}

/* media queries to accomodate different screensizes  */
@media only screen and (max-width: 1600px){
  #headings > h1 {
    font-size: 7rem;
  }
}

@media only screen and (max-width: 1250px){
  #about > h1, #contact-inner > h1 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 1230px){
  #about > p, #contact-inner > div > p {
    font-size: 1rem;
  }

  #contact-inner > div > div.col-8 > h3 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 1000px){
  #headings > h1 {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 830px){
  #about > h1, #contact-inner > h1 {
    font-size: 2rem;
  }

  #about > p, #contact-inner > div > p {
    font-size: 0.8rem;
  }

  #contact-inner > div > div.col-8 > h3, #contact-inner > div > div.col-8 > p > a > i {
    font-size: 1.25rem;
  }
}
